
<input type="checkbox"  ng-model="testHideChecked" ng-change="isChecked()" />

<div ng-hide="testHide">
    That is the content of ng-hide for testHide
</div>
<div ng-if="!testHide">
    That is the content of ng-if for testHide
</div>